/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  .container {
    width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.ml-4 { margin-left: 4px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
