<mat-toolbar color="primary">
  <div class="container">
    <a class="brand-name" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dating App</a>

    <ng-container *ngIf="user$ | async">
      <a mat-button routerLink="/members" routerLinkActive="active">Matches</a>
      <a mat-button routerLink="/lists" routerLinkActive="active">Lists</a>
      <a mat-button routerLink="/messages" routerLinkActive="active">Messages</a>
    </ng-container>

    <span class="spacer"></span>

    <ng-container *ngIf="user$ | async as user">
      <button type="button" mat-button [matMenuTriggerFor]="menu">
        Welcome {{ user.userName | titlecase }} <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button type="button" mat-menu-item>Edit Profile</button>
        <mat-divider></mat-divider>
        <button type="button" mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>

    <form #form="ngForm" (ngSubmit)="login(form)" autocomplete="off" *ngIf="!(user$ | async)">
      <input type="text" placeholder="User Name" name="userName" ngModel required>
      <input type="password" placeholder="Password" name="password" ngModel required>
      <button type="submit" mat-stroked-button [disabled]="form.invalid">Login</button>
    </form>
  </div>
</mat-toolbar>
